<div id="about-banner" style="background-image: url(<%- theme.about.banner %>)">
  <div id="article-banner">
    <h2>我的小伙伴</h2>
    <p class="post-date">我的小伙伴</p>
  </div>
</div>

<main class="app-body project-app">
  <div class="card-container" id="all-project">
    <h2>
      这里目前没有任何小伙伴
    </h2>
  </div>
</main>

<script>
  (function () {
    $('header.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>
