<% tags.each(function(tag) { %>
  <a href="<%- url_for(config.root + config.tag_dir) %>#<%= tag.name %>" >
    <span class="tag-code">
        <img style="height: 20px;width: 20px;float: left" src="/css/images/tag.svg" alt="">
        <div style="float: left; line-height: 20px;margin-left: 5px">
          <%= tag.name %>
        </div>
    </span>
  </a>
<% }) %>
